<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white 
    justify-content-between
    border-bottom shadow-sm
    fixed-top
    ">
    <img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo" routerLink="/" class="logo">
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: large;">
      <a class="p-2" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="p-2" routerLink="/shop" routerLinkActive="active" >Shop</a>
      <a class="p-2" routerLink="/test-error" routerLinkActive="active" >Test</a>
      <a class="p-2" href="#">Contsct</a>
    </nav>

    <div class="d-flex align-items-center">
        <a class="position-relative">            
            <i class="fas fa-shopping-cart fa-2x mr-5 text-dark"></i>
            <div class="cart-no">5</div>
        </a>
        <a class="btn btn-outline-secondary mr-2" href="#">Login</a>
        <a class="btn btn-outline-secondary mr-3" href="#">Sign up</a>
    </div>
</div>