/* You can add global styles to this file, and also import other style files */

.xng-breadcrumb-root{
    padding: 8px 16px;
    display: inline;
    border-radius: 0;
}

label.xng-breadcrumb-trail{
    margin-bottom: 0;
    color: orange;
}

.xng-breadcrumb-seporator{
    padding: 0 0;
}